extends layout

block content
  center
    .topSection
      .welcomeBliss
        h1 Enlighten MIT
        p=title
        p Facilitate the Convergence of Science, Technology, and Pure Awareness
      a(href='https://purusha.org/donate.html', class='donateButton') Donate Today 
     
 