extends layout

block content
  center
    .topSection
      .welcomeBliss
        h1 Bliss
      .welcomeDonate
        a(href='https://purusha.org/donate.html', class='donateButton') Creates Bliss 
     
 