extends layout

block content
  center
    .topSection
      .welcomeBliss
        h1 Bliss
      .welcomeDonate
        a(href='https://purusha.org/donate.html', class='donateButton') Creates Bliss 
    .midSection
      //.message
        h4 Up the Peak of a Mountain of Awareness,
        h4 Consciousness has Made its Way.
        h4 Now, it's at a Tipping Point,
        h4 With the Potential to Blossom,
        h4 Throughout a Valley of Bliss.