doctype html
html
  head
    // Scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    // Create Cross-Browser Favicon
    link(rel="shortcut icon" href="/images/favicon.ico")
    link(rel="icon" sizes="16x16 32x32 64x64" href="/images/favicon.ico")
    link(rel="icon" type="image/png" sizes="196x196" href="/images/favicon-196.png")
    link(rel="icon" type="image/png" sizes="160x160" href="/images/favicon-160.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png")
    link(rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/images/favicon-152.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/images/favicon-144.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/images/favicon-120.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/images/favicon-114.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/images/favicon-76.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/images/favicon-72.png")
    link(rel="apple-touch-icon" href="/images/favicon-57.png")
    meta(name="msapplication-TileColor" content="#FFFFFF")
    meta(name="msapplication-TileImage" content="/images/favicon-144.png")
    meta(name="msapplication-config" content="/browserconfig.xml")
    // Title and Stylesheet Link	
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content