<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Enjoy Bliss</title>


<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/javascripts/superslides/dist/stylesheets/superslides.css">
<link rel="stylesheet" href="/stylesheets/layout.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/jquery.animate-enhanced.min.js"></script>
<script src="javascripts/jquery.hammer.min.js"></script>
<script src="javascripts/superslides/dist/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/application.js"></script>

// Create Cross-Browser Favicon
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/images/favicon-196.png">
<link rel="icon" type="image/png" sizes="160x160" href="/images/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon-152.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon-144.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon-120.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon-114.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon-76.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon-72.png">
<link rel="apple-touch-icon" href="/images/favicon-57.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/images/favicon-144.png">
<meta name="msapplication-config" content="/browserconfig.xml">
</head>
<body>

<div class="loading-container">
<div class="pulse"></div>
</div>

<div id="slides">
<ul class="slides-container">
<li>
<img src="images/magic_web_meadow.jpg" alt="">
<div class="container">
<h1>Enjoy Bliss</h1>
<p>
</p>
</div>
</li>
<li>
<img src="images/rockscloudslands.jpg" alt="">
<div class="container">
<h1>It's responsive.</h1>
<div class="contrast">
<p>Love</p>
</div>
</div>
</li>
<li>
<img src="images/mountain.jpg" alt="">
<div class="container">
<h1>It's Gorgeous</h1>
<div class="contrast">
<p>For browsers that support CSS hardware acceleration, tasks, such as animation, are processed by the GPU giving massive performance gains.</p>
</div>
</div>
</li>
<li>
<img src="images/sunlight.jpg" alt="">
<div class="container">
<h1>It's got a pretty sweet API.</h1>
<div class="contrast">
<p>The control API lets you start, stop, animate, and destroy instances of the slider. You can get the current, next, and previous slides programmatically. In fact, the slider uses the same API internally.</p>
</div>
</div>
</li>
<li>
<img src="images/river.jpg" alt="">
<div class="container">
<h1>It's tested with QUnit.</h1>
<div class="contrast">
<p>
Version 0.5 was a ground up, TDD rebuild, fixing many quirky bugs and standardizing the event and control APIs.
</p>
</div>
</div>
</li>
</ul>
<nav class="slides-navigation">
<a href="#" class="next">
<i class="icon-chevron-right"></i>
</a>
<a href="#" class="prev">
<i class="icon-chevron-left"></i>
</a>
</nav>
</div>
</body>
</html>