<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Enjoy Bliss</title>


<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/javascripts/superslides/dist/stylesheets/superslides.css">
<link rel="stylesheet" href="/stylesheets/layout.css">
link(rel='stylesheet', href='/stylesheets/style.css')

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/jquery.animate-enhanced.min.js"></script>
<script src="javascripts/jquery.hammer.min.js"></script>
<script src="javascripts/superslides/dist/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/application.js"></script>

// Create Cross-Browser Favicon
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/images/favicon-196.png">
<link rel="icon" type="image/png" sizes="160x160" href="/images/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon-152.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon-144.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon-120.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon-114.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon-76.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon-72.png">
<link rel="apple-touch-icon" href="/images/favicon-57.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/images/favicon-144.png">
<meta name="msapplication-config" content="/browserconfig.xml">
</head>


<body>
<div class="loading-container">
<div class="pulse"></div>
</div>

// First Slide
<div id="slides">
<ul class="slides-container">
<li>
<img src="images/laser_enjoybliss.jpg" alt="">
<div id="p1">
<h1 id="bliss1">Bliss</h1>
a(href='https://purusha.org/donate.html', class='donateButton') Creates Bliss
</div>
</li>

// Second Slide
<li>
<img src="images/mountain.jpg" alt="">
<div class="contrast p2">
<p> Up the Peak of a Mountain of Awareness,</p>
<p> Consciousness has Made its Way.</p>
<p> Now, it's at a Tipping Point,</p>
<p> With the Potential to Blossom,</p>
<p> Throughout a Valley of Bliss.</p>
</div>
</li>

// Third Slide
<li>
<img src="images/rockscloudslands.jpg" alt="">
// class='preserve' for overlayed image
<center>
<div id="p3">
<h3 class="lightcontrast">Help Laser Enlighten MIT</h3>
</div>
<div class="contrast bliss3">
<p>Help Enlighten the World</p>
<p>An alumni of Maharishi School in Fairfield, Iowa, Laser Nite studies Neuroscience and Computer Science at MIT, and engages in collaborative Social Entrepreneurship. With support from the meditation community, he will spend a year on Purusha, to develop his consciousness. Then, from a blissful state, he will help spark enlightenment at MIT. Any <a class="ubercontrast" href="https://purusha.org/donate.html">donations you can make to Purusha in his name</a> will be greatly appreciated, and help support the integration of transcendental awareness into the forefront of scientific and technological development. </p>

</div>
</center>
</li>

// Fourth Slide
<li>
<img src="images/sunlight.jpg" alt="">
<center>
<h3 id="p4" class="contrast">Thank You For Your Support!</h3>
<div class="contrast bliss4">
<p>Thank You for supporting the integration of Science, Technology, and Bliss Consciousness.</p>
<p>May you be blessed with bliss!</p>
</div>
a(href='https://purusha.org/donate.html', class='donateButton d4') Give Bliss
</center>
</li>

</ul>
<nav class="slides-navigation">
<a href="#" class="next">
<i class="icon-chevron-right"></i>
</a>
<a href="#" class="prev">
<i class="icon-chevron-left"></i>
</a>
</nav>
</div>
</body>
</html>