html {
  background: url("/images/magic_web_meadow.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font: 34px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: 0px;
  margin-left: 0px;
}
a {
  color: #00b7ff;
}
.donateButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  text-indent: 0;
  border: 1px solid #eeb44f;
  display: inline-block;
  color: #fff;
  font-family: Verdana;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  height: 61px;
  line-height: 55px;
  width: 262px;
  text-decoration: none;
  text-align: center;
  text-shadow: -2px 3px 1px #cc9f52;
  margin-left: 18px;
}
.donateButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
  background-color: #fb9e25;
  color: #fff;
}
.donateButton:active {
  position: relative;
  top: 1px;
}
#p1 {
  position: absolute;
  top: 20%;
  left: 50%;
}
#bliss1 {
  font-weight: bold;
}
.p2 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 22px;
  position: absolute;
  right: 10%;
  bottom: 10%;
}
#p3 {
  color: #fff;
  width: 1100px;
}
.bliss3 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 1100px;
}
#p4 {
  color: #fff;
  width: 1200px;
}
.bliss4 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 28px;
  width: 1200px;
}
.d4 {
  margin-top: 15px;
}
.acontact {
  color: #fff;
  position: absolute;
  top: 85%;
  left: 80%;
}
@media (max-width: 767px) {
  #p1 {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  #bliss1 {
    font-size: 96px;
    padding-left: 30px;
  }
  .p2 {
    font-size: 18px;
  }
  #p3 {
    color: #fff;
    width: 550px;
  }
  .bliss3 {
    width: 550px;
    font-size: 14px;
  }
  .lightcontrast {
    font-size: 28px;
  }
  #p4 {
    width: 550px;
    font-size: 28px;
  }
  .bliss4 {
    font-size: 14px;
    width: 550px;
  }
  .acontact {
    font-size: 18px;
  }
}
