body
  padding: 6%
  font: 34px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url(/images/magic_web_meadow.jpg)
  background-repeat: no-repeat
  background-size: cover
a
  color: #00B7FF